.dashMain {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
    
    .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        min-height: 100vh;
        background-color: rgba(white, 1);
        

        .dashHeader {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            padding: 10px;
            h2 {
                margin: 0;
                text-align: center;
            }
            p {
                text-align: center;
            }
        }

        .dashBody {
            display: flex;
            flex-direction: column;
            width: 80%;
            article {
                margin: 5% 5vw;
            }
            .booksContainer {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
                justify-content: center;
                grid-gap: 25px;
            }
        }
    }

    .nav {
        margin-top: 25px;
        position: relative;
        width: 640px;
        height: 50px;
        background-color: var(--quaternary-color);
        border-radius: 8px;
        font-size: 0;
        a {
            line-height: 50px;
            height: 100%;
            font-size: 15px;
            display: inline-block;
            position: relative;
            z-index: 1;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: white;
            cursor: pointer;
            vertical-align: top;

            &:nth-child(1) {
                width: 140px;
            }
            &:nth-child(2) {
                width: 160px;
            }
            &:nth-child(3) {
                width: 160px;
            }
            &:nth-child(4) {
                width: 180px;
            }
        }
        #animation {
            position: absolute;
            height: 100%;
            top: 0;
            z-index: 0;
            transition: all .5s ease 0s;
            border-radius: 8px;
        }
        .start-myBooks, a:nth-child(1):hover~#animation {
            width: 140px;
            left: 0;
            background-color: var(--primary-color);
        }
        .start-myRecipes, a:nth-child(2):hover~#animation {
            width: 160px;
            left: 140px;
            background-color: #df8434;
        }
        .start-bookmarks, a:nth-child(3):hover~#animation {
            width: 160px;
            left: 300px;
            background-color: var(--tertiary-color);
        }
        .start-settings, a:nth-child(4):hover~#animation {
            width: 180px;
            left: 460px;
            background-color: #3498db;
        }
    }
}