.unauthorized {
    text-align: center;
    padding: 30px 10px;
    h2 {
        margin: 0 0 10px 0;
    }
    button {
        font-weight: 600;
        font-size: medium;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
        border: 1.5px solid black;
        //color: var(--primary-color);

        &:hover {
            background-color: var(--primary-color);
            color: var(--secondary-color);
            border: 1.5px solid var(--secondary-color);
        }
    }
}