.navMain {
    height: 10vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    position: relative;
    z-index: 10;
    /*background-color: rgba(black, 0.5);
    background: var(--background-image);
    background-position: 0 -13.5vh;
    background-repeat: no-repeat;*/

    // border top for nav without messing padding
        -webkit-box-shadow:inset 0px 1px 0px 0px var(--primary-color);
        -moz-box-shadow:inset 0px 1px 0px 0px var(--primary-color);
        box-shadow:inset 0px 1px 0px 0px var(--primary-color);
    
    .navWrapper {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        // border top for nav without messing padding
        /*-webkit-box-shadow:inset 0px 2px 0px 0px var(--primary-color);
        -moz-box-shadow:inset 0px 2px 0px 0px var(--primary-color);
        box-shadow:inset 0px 2px 0px 0px var(--primary-color);*/
        border-top: 5px solid var(--primary-color);
        box-shadow: 5px -10px 20px 0px black;
    }
    

    .logoWrapper {
        margin-left: 10%;
        a {
            display: flex;
            align-items: center;
            margin: 10px 0 10px 10%;
            color: var(--tertiary-color);
            white-space: nowrap;
            img {
                width: 10%;
                filter: var(--primary-filter);
            }
        }
    }
    .mainMenu {
        margin-right: 10%;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;

            a {
                font-size: medium;
                font-weight: 600;
                white-space: nowrap;
                margin-right: 30px;
                
            }

            li {
                color: var(--tertiary-color);
                
                transition: all ease-in-out .2s;
                &:hover {
                    box-shadow: 0px 2px 0px 0px var(--primary-color);
                }
            }
            li.auth {
                color: var(--primary-color);
                border: 1px solid var(--primary-color);
                border-radius: 5px;
                padding: 1px 8px;

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    box-shadow: none;
                }
            }
        }
    }
}