.mainNav {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d33c3c;

    color: white;

    .logoWrapper {
        margin-left: 10%;
        display: flex;
        align-items: center;
        margin: 10px 0 10px 10%;
        color: white;

        img {
            width: 60px;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
        }
    }

    .mainMenu {
        margin-right: 10%;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
    
            li {
                margin-right: 30px;
    
                a {
                    font-size: medium;
                    white-space: nowrap;
                    text-decoration: none;
                    color: white;
                }
            }
    
            li.login {
                border: 1px solid white;
                border-radius: 5px;
    
                a {
                    padding: 10px;
                }
            }
        }
    }
}