.mainHero {
    height: 100vh;
    .contentWrapper {
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        .carte {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            //border: 1px solid black;
            //border-radius: 10px;
            
            & > div {
                flex: 1 1 0px;
                padding: 100px;
                width: 100%;
            }

            .leftContainer {
                //border-right: 1px dotted black;
                position: relative;
                background-color: rgba(black, 0.85);

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &::before {
                        content: "";
                        background-image: url(../../assets/heroPic1.jpg);
                        background-position: center;
                        background-size: cover;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        bottom: 0px;
                        left: 0px;
                        opacity: 0.45;
                        
                    }
                }
                img {
                    position: relative;
                    width: 150px;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
                    
                }
                h1 {
                    position: relative;
                    padding: 5px;
                    
                    color: white;
                    
                }
            }
    
            .rightContainer {
                
                h2 {
                    margin-bottom: 30px;
                }
                p {
                    margin-left: 20px;
                    margin-top: 20px;
                    padding: 5px;
                    padding-left: 10px;
                    box-shadow: 2px 2px 5px black;
                    background-color: #f0f0f0;
                    border-radius: 10px;
                    color: black;
                }
            }
        }
        //gap: 20%;

        

        /*.imgWrapper {
            display: flex;
            .imgContainer {
                position: relative;

                &:first-child {
                    transform: rotate(-6deg);
                    left: 50px;
                    top: 20px;
                }
                &:nth-child(2) {
                    transform: rotate(4deg);
                    right: 50px;
                }

                img {
                    max-width: 300px;
                }
            }
        }*/
    }

}